<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.mscr.gearconsolesdk.demo" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="com.samsung.wmanager.ENABLE_NOTIFICATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- If you add your master package in the Android manifest it
        will not be displayed on General notifications category. -->
        <meta-data android:name="master_app_packagename" android:value="com.samsung.mscr.gearconsolesdk.demo"/>
        <!-- Notification max byte can be adjusted. (Default : 500byte) -->
        <meta-data android:name="app_notification_maxbyte" android:value="300 "/>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MotionActivity" />
        <activity android:name=".ImagesActivity" />
    </application>

</manifest>
